.header-guia {
  padding: 60px;
}
.logo {
  width: 200px;
  height: 60px;
}

.navigation {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
  display: block;
  float: right;
}

.navigation .-action {
  color: #00588d;
  text-decoration: none;
}
