.wrapper-menu {
  float: left;
  background-color: var(--color-negative);
  width: 30%;
  height: 100%;
  text-align: center;
}

.wrapper-menu .title {
  margin: 80px 0 85px;
  color: var(--color-first);
  font-size: 2em;
  text-transform: uppercase;
}

.wrapper-menu .title .-back {
  color: var(--color-zero);
  background-color: var(--color-first);
  padding: 5px;
}

.wrapper-menu .subTitle {
  color: var(--color-zero);
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 70px 0 25px;
}

.wrapper-menu .-line {
  border-right: 4px solid var(--color-zero);
  box-sizing: border-box;
}

.wrapper-menu .menu a {
  color: var(--color-zero);
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
}

.wrapper-menu .menu a::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid var(--color-zero);
  margin-right: 5px;
}

.wrapper-menu .menu a:hover {
  text-decoration: underline;
  font-weight: bold;
}
